*.class
/.project
/.classpath
/.settings/
/.idea/
# Mobile Tools for Java (J2ME)
.mtj.tmp/
/lint.xml
# Package Files #
#*.jar
*.war
*.ear
soundtransform.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bin/*
/bin/
/target/
/gen/
/res/
